* {
  padding: 0px;
  margin: 0px;
  user-select: none;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.cat {
  position: absolute;
  width: 50px;
  border-radius: 50%;
}

.button-wrapper {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  z-index: 999;
}

button {
  padding: 10px;
  font-size: 30px;
  border: 10px solid white;
  border-radius: 20vh;
}
